<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
    <form action="/speedCalculation/{{version}}" method="get">
        <input type="submit" value="Geschwindigkeitsberechnung" />
    </form>
</div>


<div class="form-style-5">
    <form>
        <label for="longitude1">Longitude 1: </label>
        <input type="text" name="longitude1" id="longitude1" value="8.7095882"/>
        <label for="latitude1">Latitude 1: </label>
        <input type="text" name="latitude1" id="latitude1" value="47.3589998"/>
        <hr />
        <br />

        <label for="longitude2">Longitude 2: </label>
        <input type="text" name="longitude2" id="longitude2" value="8.7135701"/>
        <label for="latitude2">Latitude 2: </label>
        <input type="text" name="latitude2" id="latitude2" value="47.3530638"/>
        <hr />
        <br />

        <label for="longitude3">Longitude 3: </label>
        <input type="text" name="longitude3" id="longitude3" value="8.7165203"/>
        <label for="latitude3">Latitude 3: </label>
        <input type="text" name="latitude3" id="latitude3" value="47.3516764"/>

        <input type="button" id="submitButton" value="Get nearest objects" />
    </form>
</div>


<script type="text/javascript" src="/javascripts/sendRequest.js"></script>