<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="form-style-5">
    <form action="/getSpeedCalculation" method="get">
        <label for="start">Startzeitpunkt: </label>
        <input type="text" name="start" id="start" value="2017-03-28 07:31:54.0"/>
        <label for="end">Endzeitpunkt: </label>
        <input type="text" name="end" id="end" value="2017-03-28 07:32:07.0"/>
        <hr />
        <br />

        <label for="longitude1">Longitude 1: </label>
        <input type="text" name="longitude1" id="longitude1" value="8.7135701"/>
        <label for="latitude1">Latitude 1: </label>
        <input type="text" name="latitude1" id="latitude1" value="47.3530638"/>
        <hr />
        <br />

        <label for="longitude2">Longitude 2: </label>
        <input type="text" name="longitude2" id="longitude2" value="8.7165203"/>
        <label for="latitude2">Latitude 2: </label>
        <input type="text" name="latitude2" id="latitude2" value="47.3516764"/>
        <hr />
        <br />

        <input type="submit" value="Get velocity" />
    </form>
</div>