body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#border-div{
  padding: 50px;
}

/*Leaflet Map*/
.result-map {
    width: 900px;
    height: 500px;
}

.form-map {
    position: fixed;
    right: 20px;
    width: 500px;
    height: 400px;
}

#clearInput {
    position: fixed;
    right: 350px;
    top: 620px;
}


/*Material*/
.html-method {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  width: 100px;
  float: left;
  margin-right: 10px;
}

.collapsible-header {
  padding: 0 !important;
}

.get {
    background-color: #26a69a;
}

.post {
    background-color: #42a5f5;
}

label {
    color: #FFFFFF !important;
}

input[type=text] {
    color: #7e76ff
}

.small-input {
    width: 15vw;
    margin-right: 3vw;
    display: inline-block;
}