body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#border-div{
  padding: 50px;
}

/*Leaflet Map*/
.result-map {
    width: 900px;
    height: 500px;
}

.form-map {
    position: fixed;
    right: 20px;
    width: 500px;
    height: 400px;
}

#clearInput {
    position: fixed;
    right: 350px;
    top: 620px;
}


/*Material*/
.html-method {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  width: 100px;
  float: left;
  margin-right: 10px;
}

.collapsible-header {
  padding: 0 !important;
}

.get {
    background-color: #26a69a;
}

.post {
    background-color: #42a5f5;
}

label {
    color: #FFFFFF !important;
}

input[type=text] {
    color: #7e76ff
}

.small-input {
    width: 15vw;
    margin-right: 3vw;
    display: inline-block;
}

/*JSON Syntax Highlighting*/
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: blue; }
.boolean { color: darkorange; }
.null { color: magenta; }
.key { color: #963e96; }

.schema {
    float: left;
    width: 50%;
}

.schema, .possible-input {
    min-width: 400px;
}

.possible-output {
    clear: left;
}

.collapsible-body {
    overflow: hidden;
}

/*api.hbs*/
h3.url-title {
    margin-top: 7vw !important;
    font-weight: bold !important;
}